<html lang="pt-BR">

<head>
   fonte<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>OQUE E RELEVO</title>
</head>

<body>
    <header>AULAS DE GEOGRAFIA</header>
    <section>
        <div class="chamada-texto">
            <h1>geografia Formas de Relevo: Planalto, Planicie, Escarpa e outros (Geografia Fisica)</h1>
            <p>#geografia</p>
        </div>
        <div>
            linkhttps://youtu.be/vSha1B1CyE8?si=uQpjtWTK3_wwcm15
        </div>
    </section>
</body>

</html>